NODE_ENV=development
PORT=3000

POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_USER=kolos
POSTGRES_PASSWORD=kolos_dev_password
POSTGRES_DB=kolos_identity
POSTGRES_SSL=false

MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=kolos_business

JWT_ACCESS_SECRET=change_me_please_with_very_long_secret_key_32chars
JWT_REFRESH_SECRET=change_me_please_with_another_very_long_secret_key
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=30d

CORS_ORIGIN=http://localhost:5173
REFRESH_COOKIE_NAME=kolos_refresh
COOKIE_SECURE=false
COOKIE_SAME_SITE=lax

ADMIN_SEED_EMAIL=admin@example.com
ADMIN_SEED_PASSWORD=Admin1234!

THROTTLE_TTL=60000
THROTTLE_LIMIT=100
