{
  # Sans vrai domaine : pas de HTTPS auto (Let's Encrypt)
  # Quand tu auras un domaine, on réactivera le certificat.
  auto_https off
  email {$ACME_EMAIL}
}

:80 {
  encode gzip

  handle /v1* {
    reverse_proxy api:3000
  }

  handle {
    reverse_proxy user-web:80
  }
}
